{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>Customers</h1>

<form action="/search" method="get">
  <div class="form-group border p-3">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Search Customers</label>
    <input class="form-control form-control-lg" type="text" placeholder="Name" id="inputLarge" name="name">
    <button class="btn btn-primary mt-3">Search</button>
  </div>
</form>


<a href="/topten" class="btn btn-primary mt-3">Get Top Ten Customers</a>

<ul style="column-count: 4">
  {% for customer in customers %}
  <li><a href="/{{ customer.id }}/">{{ customer.fullName }}</a></li>
  {% endfor %}
</ul>


{% endblock %}